<div x-data="IndexPage" class="container my-4 d-flex flex-column gap-4">
  <div class="border-1 border-bottom border-light border-opacity-25">
    <p class="fs-3 fw-semibold">Seus carros alugados</p>
    <p class="fs-6">listagem de todos os seus carros alugados</p>
  </div>
  {{#if rent}}
    <ul class="d-flex flex-column gap-3 p-0">
      {{#each rent as |rents|}}
        <li
          class="list-unstyled row m-0 align-items-center justify-content-center bg-dark rounded-1 shadow"
        >
          <div
            class="d-flex col-lg-3 col-4 p-1 align-items-center justify-content-center"
          >
            <img
              src={{rents.cars.url}}
              class=""
              alt="..."
              style="max-width: 19vw; max-height: 13vh;"
            />
          </div>
          <div
            class="col-lg-7 col-8 d-flex flex-column gap-2 p-lg-4 ps-2 p-1 border-start"
          >
            <p class="m-0 fw-semibold fs-5 pb-1">{{rents.cars.title}}</p>
            <p class="m-0">{{rents.cars.brand}} {{rents.cars.model}}</p>
          </div>
          <div class="row h-100 p-2 m-0 col-lg-2">
            <p class="col-10 align-self-center m-0 p-0 fs-5">R$:
              {{rents.cars.valuePerDay}}</p>
            <button
              type="submit"
              class="p-0 col-2 btn btn-danger align-self-center"
              @click="deleteRent('{{rents._id}}')"
            >X</button>
          </div>
        </li>
      {{else}}
        <li>
          <p>Você ainda não realizou alugueis!</p>
        </li>
      {{/each}}
    </ul>
  {{else}}
  {{/if}}
</div>