<div class="p-5 my-5 bg-dark text-white rounded">
  <h1 class="border-bottom border-light">
    <strong>
      {{post.title}}
    </strong>
  </h1>
  <div class="my-2 justify-content-start">
    <p class="fs-5">
      <strong>
        R$:
        {{post.valuePerDay}}
      </strong>
    </p>
  </div>

  <div class="d-flex my-3 align-content-center align-items-center">
    <img
      src="https://saabblog.net/wp-content/uploads/2021/04/Koenigsegg-One_1-1.jpeg"
      class="w-75"
      alt="..."
    />
  </div>

  <label for="brand">Marca</label>
  <div class="bg-white bg-opacity-25">
    <p class="p-2" id="brand">
      {{post.brand}}
    </p>
  </div>

  <label for="model">Modelo:</label>
  <div class="bg-white bg-opacity-25">
    <p class="p-2" id="model">
      {{post.model}}
    </p>
  </div>

  <label for="year">Ano:</label>
  <div class="bg-white bg-opacity-25">
    <p class="p-2" id="year">
      {{post.year}}
    </p>
  </div>

  <label for="plate">Placa:</label>
  <div class="bg-white bg-opacity-25">
    <p class="p-2" id="plate">
      {{post.plate}}
    </p>
  </div>

  <label for="size">Comprimento:</label>
  <div class="bg-white bg-opacity-25">
    <p class="p-2" id="size">
      {{post.size}}
    </p>
  </div>

  <label for="maxSpeed">Velocidade máxima:</label>
  <div class="bg-white bg-opacity-25">
    <p class="p-2" id="maxSpeed">
      {{post.maxSpeed}}
    </p>
  </div>

  <div class="mt-5">
    informações do vendedor
    <div class="my-3 gap-3 text-nowrap">
      <img src="..." class="card-img-top" alt="..." />
      <p class="p-2">
        <strong>Vendedor: </strong>
        {{post.seller.name}}
      </p>
    </div>

  </div>

  {{#if buttonDisable}}
    <div class="d-flex justify-content-center align-items-center gap-4 mt-5">
      <form action="/posts/{{post._id}}/rent" method="POST">
        <button type="submit" class="btn btn-primary">
          Alugar
        </button>
      </form>
    </div>
  {{else}}
    <div class="d-flex justify-content-center align-items-center gap-4 mt-5">
      <a href="/posts/{{post._id}}/edit" class="btn btn-primary">
        Editar
      </a>
      <form action="/posts/{{post._id}}?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-primary">
          Deletar
        </button>
      </form>
    </div>
  {{/if}}
</div>